In [1]:
# import packages
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
# import data
df_main = pd.read_csv('Users\Dante\Desktop\MPG\CSV files\Results - Remap.csv')
dim_job_specialisation = pd.read_csv('Users\Dante\Desktop\MPG\CSV files\New Data Submissions (Remapping) - Job Spec List with sub-job spec & definitions.csv')
dim_industry = pd.read_csv('Users\Dante\Desktop\MPG\CSV files\New Data Submissions (Remapping) - Industry List with sub-industry & definitions.csv')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 33-34: malformed \N character escape (2975114550.py, line 3)

In [ ]:
# save industry and job spec dim files
dim_job_specialisation.to_csv('Users\Dante\Desktop\MPG\CSV files\dim_job_specialisation.csv', index = False)
dim_industry.to_csv('Users\Dante\Desktop\MPG\CSV files\dim_industry.csv', index = False)

In [ ]:
df_main.columns

In [ ]:
# rename all columns
df_main.columns = ['ID', 'Timestamp', 'Age', 'Race', 'Gender Identity', 'Nationality', 'Highest Educational Qualification', 'Job Title', 'Years of Experience', 'No of Jobs', 'Working in/from Malaysia',
                   'Working Arrangement', 'State', 'Type of Company', 'Industry (raw)', 'Industry (other)', 'Job Spec (raw)', 'Job Spec (other)', 'Avg Working Hours per Day', 'Avg Working Days per Week',
                   'Gross Monthly Salary', 'First job salary', 'Salary/Compensation Satisfaction Score', 'Job Satisfaction Score', 'Additional Thoughts/Insights', 'Industry', 'Job Spec', 'Remove Marker']

In [ ]:
# drop unsused columns
drop_list_col = ['No of Jobs', 'First job salary', 'Industry (raw)', 'Industry (other)', 'Job Spec (raw)', 'Job Spec (other)']

df_main.drop(drop_list_col, axis = 1, inplace = True)

In [ ]:
df_main.columns

In [ ]:
# drop nan
df_main.dropna(how = 'all', inplace = True)

In [ ]:
# drop rows which have marker 'R'
df_main = df_main[df_main['Remove Marker'] != 'R']
df_main.reset_index(drop = True, inplace = True)

In [ ]:
# remove 'Remove Marker' col
df_main.drop('Remove Marker', axis = 1, inplace = True)

In [ ]:
# education col
df_main['Highest Educational Qualification'].unique()

In [ ]:
edu_dict = {
    'Professional Certification(s) (Sijil Profesional)' : 'Professional Certification(s)',
    'High School (Sekolah Menengah)' : 'High School',
    "Bachelor's Degree (Ijazah Sarjana Muda)" : "Bachelor's Degree (Local)",
    "Bachelor's Degree" : "Bachelor's Degree (Local)",
    "Master's Degree" : "Master's Degree (Local)",
    'PhD' : 'PhD (Local)',
    'Diploma/Professional Certifications' : 'Diploma/Professional Certification(s)'
}

for key, value in edu_dict.items():
    df_main.replace(to_replace = key , value = value , inplace = True)

df_main['Highest Educational Qualification'].unique()

In [ ]:
df_main['Working Arrangement'].unique()

In [ ]:
work_arrang_dict = {
    'Yes' : 'Fully Working from Home',
    'No' : 'Fully Working from Office'
}

for key, value in work_arrang_dict.items():
    df_main['Working Arrangement'].replace(to_replace = key , value = value , inplace = True)
    
df_main['Working Arrangement'].unique()

In [ ]:
df_main['Type of Company'].unique()

In [ ]:
type_comp_dict = {
    'Freelance/Self-employed (Bekerja Sendiri)' : 'Freelance/Self-employed',
    'Small & medium-sized enterprises' : 'Small & Medium-sized Enterprise',
    'Multinational corporation' : 'Multinational Corporation',
    'Government-linked companies' : 'Government-linked Companies',
    'Private large enterprises (local)' : 'Private Large Enterprises (Local)'
}

for key, value in type_comp_dict.items():
    df_main.replace(to_replace = key , value = value , inplace = True)
    
df_main['Type of Company'].unique()

In [ ]:
# race col
df_main['Race'].unique()

In [ ]:
list_others = ['Xpat', 'Not necessary ', 'Prefer not to say ', 'Prefer not to say', 'Mix blooded (chindian )', 'Malaysian', 'Pakistani + Malay', 'Portugese', 'Eurasian',
               'Siam', 'Siamese', 'Bangladeshi', 'Eurasian (Serani)', 'Prefer not to disclose', 'Sinhalese', 'Caucasian', 'Indonesian work in malaysia', 'Expat', 'Thai',
               'European', 'Donâ€™t think this should be relevant', 'South east asian and not MY citizen. Not comfy to share (non malaysian/singaporean/indonesian)',
               'Indonesian', 'Mixed', 'Sikh - Punjabi', 'Portugese', 'Portuguese', 'Punjabi', 'Bengali', 'punjabi', 'Pakistani', 'Punjabi', 'Eurasian ', 'Chinese Eurasion mix',
               'Punjabi ', 'Chindian', 'Malay-Chinese', 'Malay & Chinese', 'Filipino Malaysian Chinese', 'Malay Mixed Chinese', 'chindian', 'Malaysian brown dll', 'Asal',
               'Chindian ', 'Malay+ chinese', 'Kristang', 'White Caucasian', 'Chinese/European mix', 'Sinhalese ', 'Caucasian ', 'Malay & Chinese ']
list_chinese = ["IC is Chinese but I'm half Kelabit :)", 'Baba', 'Peranakan ', 'chia_sing1992@hotmail.com']
list_malay = []
list_indian = ['Indian muslim', 'India Muslim', 'Indian (India)', 'INDIAN MUSLIM']
list_sarawak = ['Melanau', 'Sarawakian Bumi']
list_sabah = ['Bumiputera Sabah', 'Sabahan Bumiputera', 'Sabahan Bumiputera ']

In [ ]:
df_main.replace(to_replace = list_others, value = 'Others', inplace = True)
df_main.replace(to_replace = list_chinese, value = 'Chinese', inplace = True)
df_main.replace(to_replace = list_malay, value = 'Malay', inplace = True)
df_main.replace(to_replace = list_indian, value = 'Indian', inplace = True)
df_main.replace(to_replace = list_sarawak, value = 'Sarawakian Ethnic', inplace = True)
df_main.replace(to_replace = list_sabah, value = 'Sabahan Ethnic', inplace = True)

In [ ]:
df_main['Race'].unique()

In [ ]:
df_main.groupby(['Race']).size()

In [ ]:
# function to create dim dataframe/table
def create_dim(col_name, col_head):
    col_en_name = col_head + '_en'
    col_bm_name = col_head + '_bm'
    col_key  = col_head + '_key'
    
    df_dim = df_main[col_name].to_frame()
    
    # rename en col
    df_dim.rename(columns = {col_name : col_en_name}, inplace = True)
    # drop duplicates & na
    df_dim.drop_duplicates(inplace = True)
    df_dim.dropna(inplace = True)
    # add bm col
    df_dim.insert(loc = 1, column = col_bm_name, value = None)
    # sort alphabetically
    df_dim.sort_values(by = [col_en_name], ascending = True, inplace = True)
    
    # reset index
    df_dim.reset_index(drop = True, inplace = True)
    # add key col
    df_dim[col_key] = df_dim.index + 1
    # rearrange cols
    cols = df_dim.columns.tolist()
    cols = cols[-1:] + cols[:-1]
    df_dim = df_dim[cols]
    
    return df_dim

In [ ]:
# fuction to save dataframe as csv dim
def save_dim_csv(df, col_head):
    csv_name = 'dim_' + col_head + '.csv'
    df.to_csv(csv_name, index = False)

In [ ]:
col_dict = {
    'Gender Identity' : 'gender',
    'Race' : 'race',
    'Working Arrangement' : 'working_arrangement',
    'State' : 'state'
}
# 'Highest Educational Qualification' : 'educational_qualification',
# manually reordered as alphabetical doesnt make sense
# manually added (some) bm name

# 'Type of Company' : 'company_type',
# manually added (some) bm name

# nationality done manually (https://github.com/lukes/ISO-3166-Countries-with-Regional-Codes/blob/master/all/all.csv)

In [ ]:
for key, value in col_dict.items():
    df = create_dim(key, value)
    save_dim_csv(df, value)
    print('Done saving: ' + key + ', ' + value)

In [ ]:
# rename some nationality rows
country_dict = {
    'United Kingdom': 'United Kingdom of Great Britain and Northern Ireland',
    'United States' : 'United States of America',
    'Vietnam' : 'Viet Nam'}

In [ ]:
for key, value in country_dict.items():
    df_main.replace(to_replace = key, value = value, inplace = True)
    print('Done:' + key + ', ' + value)

In [ ]:
# create fact tables

In [ ]:
df_main.memory_usage(deep=True).sum()

In [ ]:
df_main.info()

In [ ]:
# read all dim files
dim_race = pd.read_csv('dim_race.csv')

In [ ]:
dim_race

In [ ]:
# function to extract dim table, replace values, rename column
def replace_dim(col_name, col_head):
    
    # extract dim table
    df_dim = pd.read_csv('dim_' + col_head + '.csv')
    
    # assign names
    col_en_name = col_head + '_en'
    col_key  = col_head + '_key'

    # convert dim table into dict
    df_dim = df_dim[[col_key, col_en_name]]
    dim_dict = df_dim.set_index(col_en_name)[col_key].to_dict()
        
    # replace name with key
    for key, value in dim_dict.items():
        df_main.replace(to_replace = key, value = value, inplace = True)
        
    # rename col
    df_main.rename(columns = {col_name : col_key}, inplace = True)

In [ ]:
list_dim_dict = {
    'Gender Identity' : 'gender',
    'Race' : 'race',
    'Working Arrangement' : 'working_arrangement',
    'State' : 'state',
    'Nationality' : 'nationality',
    'Highest Educational Qualification' : 'educational_qualification',
    'Type of Company' : 'company_type',
    'Industry' : 'industry',
    'Job Spec' : 'job_specialisation'
}

In [ ]:
len(list_dim_dict)

In [ ]:
df_main['Working in/from Malaysia'].unique()

In [ ]:
for key, value in list_dim_dict.items():
    replace_dim(key, value)
    print('Done: ' + key + ', ' + value)

In [ ]:
df_main.memory_usage(deep=True).sum()

In [ ]:
df_main.info()

In [ ]:
# rename cols to match data schema
col_dict = {
    'Timestamp' : 'created_at',
    'Age' : 'age',
    'Job Title' : 'job_title',
    'Years of Experience' : 'years_experience',
    'Working in/from Malaysia' : 'located_in_malaysia',
    'Avg Working Hours per Day' : 'avg_working_hours_per_day',
    'Avg Working Days per Week' : 'avg_working_days_per_week',
    'Gross Monthly Salary' : 'gross_salary_myr',
    'Salary/Compensation Satisfaction Score' : 'salary_compensation_satisfaction_score',
    'Job Satisfaction Score' : 'job_satisfaction_score',
    'Additional Thoughts/Insights' : 'thoughts_comments'
}

In [ ]:
for key, value in col_dict.items():
    df_main.rename(columns = {key : value}, inplace = True)

In [ ]:
df_main['age'].unique()

In [ ]:
# age has blanks, keep as NULL

In [ ]:
df_main['gender_key'].unique()

In [ ]:
df_main['nationality_key'].unique()

In [ ]:
df_main['educational_qualification_key'].unique()

In [ ]:
df_main['job_title'].unique()

In [ ]:
df_main['years_experience'].unique()

In [ ]:
# convert into months
df_main['years_experience'] = df_main['years_experience'] * 12

# rename
df_main.rename(columns = {'years_experience' : 'experience_months'}, inplace = True)

# round up
df_main['experience_months'] = df_main['experience_months'].apply(np.ceil)

df_main['experience_months'] = abs(df_main['experience_months'])

In [ ]:
df_main['experience_months'].unique()

In [ ]:
df_main['located_in_malaysia'].unique()

In [ ]:
df_main['working_arrangement_key'].unique()

In [ ]:
df_main['state_key'].unique()

In [ ]:
df_main['company_type_key'].unique()

In [ ]:
df_main['avg_working_hours_per_day'].unique()

In [ ]:
df_main['avg_working_days_per_week'].unique()

In [ ]:
df_main['gross_salary_myr'].unique()

In [ ]:
df_main['salary_compensation_satisfaction_score'].unique()

In [ ]:
df_main['job_satisfaction_score'].unique()

In [ ]:
df_main['thoughts_comments'].unique()

In [ ]:
df_main['industry_key'].unique()

In [ ]:
df_main['job_specialisation_key'].unique()

In [ ]:
# change data types
df_main = df_main.astype({'age': 'Int64'})
df_main = df_main.astype({'experience_months': 'int64'})

work_arrang_dict = {
    'Yes' : '1',
    'No' : '0'
}
for key, value in work_arrang_dict.items():
    df_main.replace(to_replace = key , value = value , inplace = True)
    
df_main = df_main.astype({'located_in_malaysia': 'bool'})
df_main = df_main.astype({'salary_compensation_satisfaction_score': 'int64'})
df_main = df_main.astype({'job_satisfaction_score': 'int64'})
df_main = df_main.astype({'job_specialisation_key': 'Int64'})
df_main = df_main.astype({'industry_key': 'Int64'})
df_main['created_at'] = pd.to_datetime(df_main['created_at'], format = '%m/%d/%Y %H:%M:%S')

In [ ]:
df_main.info()

In [ ]:
# checking
df_main['job_specialisation_key'].unique()

In [ ]:
df_main['industry_key'].unique()

In [ ]:
# split different fact tables

fact_submission_col_list = ['created_at', 'educational_qualification_key', 'gender_key', 'nationality_key', 'race_key', 'age']
fact_submissions = df_main[fact_submission_col_list]

fact_job_details_list = ['experience_months', 'industry_key', 'job_specialisation_key', 'job_title', 'company_type_key', 'gross_salary_myr', 'working_arrangement_key',
                         'located_in_malaysia', 'state_key', 'avg_working_hours_per_day', 'avg_working_days_per_week', 'salary_compensation_satisfaction_score',
                         'job_satisfaction_score', 'thoughts_comments']
fact_job_details = df_main[fact_job_details_list]

In [ ]:
# add additional columns needed

fact_submissions.insert(loc = 0, column = 'submission_id', value = None)
fact_submissions['submission_id'] = fact_submissions.index + 1

fact_submissions.insert(loc = 2, column = 'source_key', value = None)
fact_submissions['source_key'] = 1

fact_submissions.insert(loc = 8, column = 'advice', value = None)


fact_job_details.insert(loc = 0, column = 'job_id', value = None)
fact_job_details['job_id'] = fact_job_details.index + 1

fact_job_details.insert(loc = 1, column = 'submission_id', value = None)
fact_job_details['submission_id'] = fact_job_details.index + 1

In [ ]:
fact_submissions.to_csv('Users\Dante\Desktop\MPG\CSV files\fact_submissions.csv', index = False)

In [ ]:
fact_job_details.to_csv('Users\Dante\Desktop\MPG\CSV files\fact_job_details.csv', index = False)

In [ ]:
"""
to do list
1) camel caps Job Title but retain abbreviations as caps
2) industry and job spec
3) split thoughts_comments to advice
"""